.records-main {
	margin: 150px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	width: 60%;

	button {
		outline: none;
		background: none;
		border: 1px solid #01482a;
		width: 60%;
		height: 50px;
		margin-bottom: 1rem;
		color: #01482a;
		transition: 0.5s ease-in-out;
	}
}

.records-main button:hover {
	cursor: pointer;
	background: #01482a;
	color: #e05822;
}

.table-container {
	margin: 100px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 95%;
	padding: 5px;
	border-radius: 4px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	// border: 1px solid rgba(0, 0, 0, 0.1);

	table {
		width: 100%;
		// background: #01482a;
	}
}

.header-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 98%;
}

.header-row {
	height: 30px;
	align-items: center;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color:#e05822;
	td {
		text-align: center;
		color: #fff;
	}
}

.table-record-row {
	height: 35px;
	align-items: center;
	margin-bottom: 0.2rem;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	td {
		font-size: 14px;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	button {
		border: 1px solid #e05822;
		outline: none;
		background: none;
		color: #e05822;
		height:25px;
		transition: 0.5s ease-in-out;
		font-size: 12px;
	}
}

.table-record-row button:focus{
	cursor: pointer;
	background-color: #e05822;
	color: #fff;
}

.phone-notify {
	display: none;
}

@media screen and (max-width: 768px) {
	.records-main {
		width: 95%;
	}
	.btn-container {
		button {
			width: 100%;
		}
	}
	.table-container {

		table{
			display: none;
		}
	}
	.phone-notify {
		align-items: center;
		text-align: center;
		display: flex;
		color: #01482a;
	}
}
